# PostgreSQL Database Connection
DATABASE_URL="postgresql://user:password@localhost:5432/monitoring_humas?schema=public"

# NextAuth Secret & URL
NEXTAUTH_SECRET="your-nextauth-secret-string"
NEXTAUTH_URL="http://localhost:3000"
